/* using :: before to create a pseudo element and use as background) */

body::before {
    /* background-color: red; */
    background: 
    /* top, transparent */ 
    linear-gradient(
    rgba(196, 156, 156, 0.2),
      rgba(196, 156, 156, 0.2)
    ),
    /* bottom, image */
    url("../image.png");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    /* filter: #C49C9C; */
    content: "";
    height: 500px;
    width: 100%;
    display: block;
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: -2;
    opacity: 0.2; 
    clip-path: polygon(0% 0%, 100% 20%, 98% 70%, 3% 93%);
}