    /* Element Content Layout
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    padding-left: 5vw; */

#home-header {
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    text-align: right;
    padding-left: calc(1rem + 7vw);
    padding-bottom: 2rem;
}

.home-text {
    width: 80%;
    display: flex;
    align-content: center;
    align-self: flex-start;
    justify-self: flex-start;
}