#about-header {
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    padding-left: 5vw; */
    align-content: flex-end;
}

.about-text {
    padding-right: 10vw;
    padding-bottom: 10vh;
    padding-left: 10vw;
    font-size: 1rem;
    text-align: left;
}