/* brick name italic description */
.page-layout-container h1 {
    position: relative;
    bottom: 3.5vh;
    left: 6vh;
    font-size: calc(1.2rem + 1.5vw);
    font-weight: 700;
    text-align: center;

    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.6); */
}

.page-layout-container h2 {
    font-size: calc(0.7rem + 1.5vw);
    /* font-style: italic;*/
    font-weight: 300;
    /* text-align: center; */
    flex-wrap: wrap;
}